server:
  port: 8080

spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          "[/**]":
            allowedOrigins:
              - "*"
            allowedMethods:
              - "*"
            allowedHeaders:
              - "*"
            allowCredentials: false
      routes:
        - id: api-server-route
          uri: lb://api-server
          predicates:
            - Path=/api/**
    loadbalancer:
      enabled: true
    discovery:
      client:
        simple:
          instances:
            api-server:
              - uri: http://localhost:8081
              - uri: http://localhost:8082
              - uri: http://localhost:8083
